<section>
  <nav class="navbar navbar-light bg-light">
    <img src="https://login.dotz.com.br/assets/images/logo-dotz.png" height="50px">
    <span *ngIf="loggeduser === 'true'" class="navbar-text">
      <a routerLink="/products">Produtos</a>
    </span>
    <span *ngIf="loggeduser === 'true'" class="navbar-text">
      <a routerLink="/extract">Saldo</a>
    </span>
    <span *ngIf="loggeduser === 'true'" class="navbar-text">
      <a routerLink="/request">Seus pedidos</a>
    </span>
    <span *ngIf="loggeduser !== 'true'" class="navbar-text">
      <a routerLink="/signup">Cadastre-se</a>
    </span>
  </nav>
</section>

<style>
  .signup-width {
    width: 400px;
    margin: auto;
  }
</style>



<router-outlet></router-outlet>