<section>
    <div class="pt-5 text-center">
      <form class="signup-card" action="">
        <h3>Cadastre-se</h3>
        <div class="row">
          <div class="col-12">
           <label class="d-block text-left" for="name">Nome</label>
           <input class="form-control" type="name">
          </div>
          <div class="col-12">
            <label class="d-block text-left" for="email">E-mail</label>
            <input class="form-control" type="email">
           </div>
           <div class="col-12">
            <label class="d-block text-left" for="password">Senha</label>
            <input class="form-control" type="password">
           </div>
           <div class="col-12 pt-5">
            <button class="btn btn-primary w-100">Cadastrar</button>
           </div>
        </div>
      </form>
    </div>
  </section>
  
  
  <router-outlet></router-outlet>