<section class="center">
    <div class="card-adress text-center mt-5">
        <h6>Cadastre seu endereço de entrega</h6>
        <form [formGroup]="form" action="">
          <div class="row">
              <div class="col-12">
                  <label class="d-block text-left" for="cep">Cep</label>
                  <input class="form-control"  formControlName="cep" id="cep" mask="00000-000" [(ngModel)]="cep">
                  <div *ngIf="f.cep.touched && f.cep.invalid" class="text-danger text-left">
                    <div *ngIf="f.cep.errors.required">O campo cep é obrigatorio.</div>
                  </div>
              </div>
              <div class="col-12">
                <label class="d-block text-left" for="city">Cidade</label>
                <input class="form-control" formControlName="city" id="city" type="text" [(ngModel)]="city">
                <div *ngIf="f.city.touched && f.city.invalid" class="text-danger text-left">
                  <div *ngIf="f.city.errors.required">O campo cidade é obrigatorio.</div>
                </div>
              </div>
              <div class="col-12">
                <label class="d-block text-left" for="neighborhood">Bairo</label>
                <input class="form-control" formControlName="neighborhood" id="neighborhood" type="text" [(ngModel)]="neighborhood">
                <div *ngIf="f.neighborhood.touched && f.neighborhood.invalid" class="text-danger text-left">
                  <div *ngIf="f.neighborhood.errors.required">O campo bairro é obrigatorio.</div>
                </div>
              </div>
              <div class="col-6">
                <label class="d-block text-left" for="street">Rua</label>
                <input class="form-control" formControlName="street" id="street" type="text" [(ngModel)]="street">
                <div *ngIf="f.street.touched && f.street.invalid" class="text-danger text-left">
                  <div *ngIf="f.street.errors.required">O campo rua é obrigatorio.</div>
                </div>
              </div>
              <div class="col-6">
                <label class="d-block text-left" for="number">Número</label>
                <input class="form-control" formControlName="number" id="number" type="text" [(ngModel)]="number">
                <div *ngIf="f.number.touched && f.number.invalid" class="text-danger text-left">
                  <div *ngIf="f.number.errors.required">O campo número é obrigatorio.</div>
                </div>
              </div>
              <div class="col-12">
                  <button class="btn btn-primary w-100 mt-5" (click)="adress(cep, city, neighborhood, street, number)">Cadastrar informações</button>
              </div>
          </div>
        </form>
    </div>
</section>
