<section class="center">
    <div class="card-adress text-center mt-5">
        <h6>Cadastre seu endereço de entrega</h6>
        <form action="">
          <div class="row">
              <div class="col-12">
                  <label class="d-block text-left" for="cep">Cep</label>
                  <input class="form-control" type="number">
              </div>
              <div class="col-12">
                <label class="d-block text-left" for="city">Cidade</label>
                <input class="form-control" type="text">
              </div>
              <div class="col-12">
                <label class="d-block text-left" for="neighborhood">Bairo</label>
                <input class="form-control" type="text">
              </div>
              <div class="col-6">
                <label class="d-block text-left" for="cep">Cidade</label>
                <input class="form-control" type="text">
              </div>
              <div class="col-6">
                <label class="d-block text-left" for="cep">Numero</label>
                <input class="form-control" type="text">
              </div>
              <div class="col-12">
                  <button class="btn btn-primary w-100 mt-5">Cadastrar informações</button>
              </div>
          </div>
        </form>
    </div>
</section>
